@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
    --bg-color-main: #202124;
    --text-color-header: #edf0f1;
    --text-color-content: #edf0f1;
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-main);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2ch 1ch;
}

a, button {
    font-size: large;
    color: var(--text-color-header);
    background-color: var(--bg-color-main);
}

div {
    color: var(--text-color-header);
    max-width: 80ch;
    margin: auto;
    padding: 1ch;
}

nav * {
    display: inline-block;
    padding: 0 1ch;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
}

button,
nav > a {
    padding: 0.6ch 1.2ch;
    border-style: solid;
    border-width: 1px;
    border-color: var(--text-color-header);
    border-radius: 2ch;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover,
nav > a:hover {
    background-color: var(--text-color-header);
    color: var(--bg-color-main);
    transition: all 0.3s ease 0s;
}